* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1a224b;
}

.box-main {
  padding: 0 40px;
}

/* section  */
.section {
  margin: 30px 0 15px 0;
  background: #4e306c;
  padding: 15px 10px 25px 15px;
}

/* section1  */
.section1 {
  background: transparent;
  height: 500px;
  padding: 15px 0 25px 15px;
}

/* slider  */
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.overlay {
  height: 100%;
  /* box-shadow: inset 71px -20px 154px 103px #1e1e1e; */
  box-shadow: inset 490px 0px 94px rgba(0, 0, 0, 0.9),
    inset -45px 0px 128px rgba(0, 0, 0, 0.5),
    inset 0px 60px 106px rgba(0, 0, 0, 0.5),
    inset 10px -52px 168px rgba(0, 0, 0, 0.5);
}

.disp {
  /* width: 35%;
  position: absolute;
  bottom: 9px;
  text-align: left;
  left: 53px; */
  width: 42%;
  height: 100%;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  text-align: left;
  left: 0;
  padding: 50px 21px 40px 20px;
}

.slide-title {
  font-size: 70px;
  font-family: "Nunito";
  line-height: 65px;
  font-weight: bold;
  padding: 15px 0;
}

.disp span {
  display: inline-block;
  font-size: 20px;
  width: 125px;
  text-align: right;
  color: #ddd;
  margin-bottom: 10px;
}

.center i {
  vertical-align: bottom;
}

.middle i {
  vertical-align: middle;
}

/* .aired {
  display: flex;
  align-items: center;
} */

.sypnosis {
  line-height: 20px;
}

.add-btn {
  margin-top: 15px;
  display: inline-block;
}

.add-btn a {
  /* width: 150px; */
  font-size: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #8330d5;
  color: #fff;
  padding: 6px 13px;
}

.add-btn a:hover {
  background: #721da7;
}

.read a {
  background: #eee;
  color: #1e1e1e;
}

.read a:hover {
  background: #837c87;
  color: #fff;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  /* width: 1160px; */
  height: 485px;
  position: relative;
  margin: auto;
  margin-top: 15px;
  overflow-y: hidden;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.dot-container {
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* navbar  */

.navbar {
  font-family: "mukta", sans-serif;
  display: flex;
  padding: 5px 55px;
  align-items: center;
  justify-content: space-between;
  background: #225;
}

.nav_list {
  /* width: 90%; */
  display: flex;
  align-items: center;
}
.nav_list li {
  /* to remove dot */
  list-style: none;
  padding: 4px 20px;
}
.nav_list li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  /* to remove underline */
  color: #c3c0c0;
}
.nav_list li a:hover {
  color: #fff;
}
.button a {
  font-weight: 400;
  text-decoration: none;
  font-family: "mukta", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background-color: #8330d5;
  border-radius: 20px;
  margin: 5px;
  padding: 3px 16px;
  cursor: pointer;
}
.button a:hover {
  background-color: #632bb7; /* Change background color on hover */
}
/* New Release  */
body {
  background: #a591f1;
}

.collection {
  margin-top: 15px;
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery {
  /* border: 1px solid #ccc; */
  border-radius: 7px;
  flex: 0 0 160px;
  height: 338px;
  position: relative;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 7px;
  height: 247px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

.gallery:hover a > .img > .gallery-overlay {
  opacity: 1;
  /* position: relative; */

  /* top: -3px; */
}

.gallery:hover > .gallery-detail {
  right: -410px;
  display: block;
  top: 20px;
}
.gallery-detail {
  position: absolute;
  /* display: none; */
  font-size: 14px;
  font-family: "Mukta";
  padding: 11px;
  text-align: justify;
  z-index: 1;
  display: none;
  width: 400px;
  color: #fff;
  background: #685fab;
}

.line {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-weight: bold;
  padding: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.tv {
  font-size: 14px;
}

.abstract {
  line-height: 14px;
  padding: 4px 0;
}

.tags {
  background: #4b3a72;
  border-radius: 7px;
  padding: 1px 9px;
  margin: 3px;
  display: inline-block;
}

.title {
  font-weight: bold;
  font-size: 15px;
  font-family: "Nunito";
}

div.gallery img {
  border-radius: 7px;
  width: 160px;
  height: 247px;
}

div.desc {
  padding: 6px 0 0;
  text-align: center;
}

.head-title {
  color: #fff;
  padding: 0px 5px;
  margin-left: 10px;
  font-family: "Mukta";
  font-size: 23px;
  display: inline-block;
  border-bottom: 2px solid red;
}

.card-title {
  padding: 0px 0 2px 0;
  color: #fff;
  font-family: "mukta";
}

.desc span {
  color: #c3c7cd;
  background: #3d1758;
  display: inline-block;
  padding: 3px 7px;
  margin: 3px;
  border-radius: 7px;
  font-family: nunito;
  font-size: 12px;
}

/* ########################## post.php file style############################ */

.overview {
  position: relative;
}

.background-img {
  height: 145px;
  overflow: hidden;
  position: relative;
}

.background-img > img {
  opacity: 0.4;
}

.background-img .img-title {
  position: absolute;
  top: 27px;
  left: 290px;
  line-height: 55px;
  color: #fff;
  font-family: "Mukta";
  font-size: 20px;
}

.alt-title {
  display: inline;
  color: #b9b9b9;
}

.img-title > i {
  font-size: 15px;
  margin-right: 3px;
}

.post-img {
  position: absolute;
  top: 105px;
  left: 105px;
}

.post-img > img {
  width: 170px;
}

.post-desc {
  background: #17191f;
  color: #eee;
  padding-left: 300px;
}

/* Double body just try for post.php */
body {
  background: #0e121f;
}

.post-head {
  display: flex;
  justify-content: space-between;
  width: 800px;
  padding: 12px 0;
}
.post-head > span:last-child {
  border: none;
}

.post-head span {
  border-right: 1px solid #eee;
  padding: 0px 40px 0 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Nunito";
}

.post-syp {
  width: 500px;
  text-align: left;
  font-family: "Mukta";
  margin-top: 25px;
}
