* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #080808, #040404, #060606);
  max-height: 100vh;
}

/* navbar  */

.navbar {
  font-family: "mukta", sans-serif;
  display: flex;
  padding: 0px 55px;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #1e1e1e, #141414, #0f0f0f);
}

.nav_list {
  /* width: 90%; */
  display: flex;
  align-items: center;
}
.nav_list li {
  /* to remove dot */
  list-style: none;
  padding: 20px 20px;
}
.nav_list li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  /* to remove underline */
  color: #c3c0c0;
}
.nav_list li a:hover {
  color: #fff;
}
.button a {
  font-weight: 400;
  text-decoration: none;
  font-family: "mukta", sans-serif;
  color: #ffffff;
  font-size: 19px;
  background-color: #8330d5;
  border-radius: 20px;
  margin: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
.button a:hover {
  background-color: #632bb7; /* Change background color on hover */
}
.box-main {
  padding: 0 15px;
}
.first {
  position: absolute;
  height: 125px;
  width: 134px;
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 130px;
}
.second {
  width: 50%;
  margin-left: 70px;
}
#search {
  position: relative;
  margin-top: 300px;
  height: 30px;
  width: 70%;
  padding: 7px;
  font-size: 17px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}
.third {
  margin-left: 65px;
  height: 35px;
  width: 40%;
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  margin-top: 40px;
  padding: 3px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 30px;
}

/* .container {
  display: flex;
}

.left-container {
  width: 100%;
}

.right-container {
  width: 100%;
} */

.container {
  display: flex;
  align-items: center; /* Align items vertically */
  /* height: 300px; */
  padding: 0 160px;
}

.left-container {
  background: #ccc;
  flex: 0 0 50%; /* Don't grow or shrink, and basis auto maintain original size */
  margin-right: 20px; /* Adjust spacing between left and right containers */
}

.left-container img {
  object-fit: cover;
  object-position: 50% 0;
  height: 100%;
  max-width: 100%; /* Ensure image doesn't exceed container width */
}

.right-container {
  flex: 1; /* Grow to fill available space */
  background: #ddd;
}

.right-container h2 {
  margin-top: 0; /* Remove default margin */
}
